.avatar{
    width:55px;
    margin-bottom: 15px;
    height: 55px;
}


.image-container{
    width:100%;
}

.espaco{
    margin-top:10px;
}
.description{
    margin:10px;
}
.btn-comments{
    margin:20px;
    margin-top:0;
}
.likes{
    padding:20px;
    padding-top:10px;
    padding-bottom:0;
}

.img_like {
    width:20px;
}

.img_dislike {
    width:20px;
}

.comentario_content{
    color:white;
    margin:10px;
}
